@import "tailwindcss";

header {
    background-color: rgb(51, 51, 51);
    min-height: 50px;
    justify-content: right;
    display: flex;
    font-family: 'Sans-serif', 'Arial', sans-serif;
}
body {
    min-height: 70vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    min-height: 50px;
    background-color: rgb(51, 51, 51);
    margin-top: auto;
    border-top: 1px solid black;
}
.center {
    text-align: center;
}
thead {
    background-color: rgb(37, 247, 247);
}
tr {
    border-bottom: 1px solid black;
}
tr:nth-child(even) {
    background-color: rgb(37, 247, 247);
}
.image-container {
    min-height: 250px;
    max-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
div.newsContainer {
    width: 100%;
    overflow: auto;
}
div.newsContainer article {
    width: 33%;
    float: left;
}
div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
div.gallery-item {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(50, 50, 50);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top: 1px solid rgb(0, 102, 255);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
footer .footer-links {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Sans-serif', 'Arial', sans-serif;
}